.width {
    width: 1210px;
    margin: 0 auto;
}

/*
 * 搜索框部分
 */
.search-result {
    height: 24px;
    line-height: 24px;
    padding: 15px 0;
}

.search-result a {
    display: inline-block;
}

.search-result em {
    margin: 0 2px;
    font-style: normal;
    font-family: SimSun;
}

.serch-box {
    position: relative;
    display: inline-block;
    float: left;
    width: 175px;
    height: 22px;
    border: 1px solid #ccc;
    margin: 0 5px;
    overflow: hidden;
}

.serch-box input {
    display: inline-block;
    width: 139px;
    height: 22px;
    line-height: 22px;
    padding: 0 5px;
    overflow: hidden;
    border: 0;
}

.serch-box i {
    top: 3px;
    right: 5px;
    width: 16px;
    height: 16px;
    background: url(../images/search.jpg) no-repeat -82px 0;
    cursor: pointer;
}

/*
 * 搜索结果
 */
.rearch-show {
    overflow: hidden;
    margin-top: 7px;
    margin-bottom: 22px;
}

.rearch-show dl {
    width: 750px;
    margin-top: 7px;
}

.rearch-show dl dt,
.rearch-show dl dd {
    float: left;
    overflow: hidden;
}

.rearch-show dl dt {
    display: block;
    margin-top: -2px;
    width: 22px;
    height: 22px;
    background: url(../images/emptysolrtip.png) no-repeat 0px 0;
}

.rearch-show dl dd {
    margin-left: 10px;
}

.rearch-show dl dd p a,
.rearch-show dl dd p strong {
    margin: 0 4px;
    text-decoration: underline;
    color: #00a651;
    text-decoration: none;
}

.rearch-show dl dd p strong {
    font-size: 14px;
}

.rearch-show .show-1 {}

.rearch-show dl.show-1 dd {
    font-size: 16px;
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    font-family: "Microsoft YaHei" ! important;
}

.rearch-show dl.show-2 .tip {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    font-family: "Microsoft YaHei" ! important;
}

/*
 * 热门活动
 */
.hot-activity {
    width: 1208px;
    margin: 22px auto 0;
}

/* {
    margin: 8px 9px 30px;
} */

.activity-box,
.activity-box ul {
    height: 170px;
    overflow: hidden;
}

.activity-box li {
    float: left;
    display: inline;
    width: 200px;
    height: 120px;
    margin: 24px 20px 24px;
    overflow: hidden;
}

.activity-box li img {
    width: 200px;
    height: 120px;
}

/*
 * guess your like 
 */
.guess-like {
    height: 394px;
    width: 1208px;
    margin: 30px auto 0;
    display: none;
}

.ptitle {
    height: 48px;
    line-height: 48px;
    font-weight: normal;
    padding: 0 10px;
    background-color: #f5f5f5;
}

.ptitle span {
    display: inline-block;
    height: 18px;
    line-height: 18px;
    padding: 15px 0;
    vertical-align: middle;
    cursor: pointer;
}

.ptitle span b {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    overflow: hidden;
    vertical-align: middle;
    background: url(../images/huanyihuan.png) no-repeat 0px 0px
}

.ptitle .datitle {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    font-family: "Microsoft YaHei" ! important;
}

.like-scroll {
    margin: 10px 4px 24px;
    height: 335px;
    overflow: hidden;
}

.like-scroll li {
    position: relative;
    padding: 30px 8px;
    border: 2px solid #fff;
    display: inline;
    float: left;
    width: 190px;
    height: 270px;
    margin: 0 15px;
    overflow: hidden;
}

.like-scroll li.on {
    border-color: #43a400;
}

.like-scroll .img,
.like-scroll .img img {
    width: 190px;
    height: 190px;
}

.like-scroll .title {
    height: 40px;
    line-height: 20px;
    margin-top: 10px;
    overflow: hidden;
}

.like-scroll .title a {
    color: #000;
}

.like-scroll .price-box {
    height: 20px;
    font-size: 16px;
    font-weight: bold;
}

.like-scroll .price-box .f_price {
    float: left;
    color: #c40000;
    font-weight: bold;
    font-family: "Microsoft YaHei" ! important;
}

.like-scroll .price-box .f_price b {
    font-size: 16px;
}

.like-scroll .price-box .f_rated {
    float: right;
}

.like-scroll .price-box .f_rated small {
    color: #3ea600;
}

/*
 * 搜索结果列表
 */
.search-list-box {
    margin-top: 20px;
    overflow: hidden;
}

.search-key-box {
    height: 28px;
    line-height: 28px;
    padding: 10px 20px;
    margin-bottom: 10px;
    background: #f5f5f5;
    overflow: hidden;
}

.search-key-box a {
    display: inline-block;
    padding: 0 5px;
    color: #00a651;
    font-weight: bold;
}

.search-key-box dt,
.search-key-box dd {
    height: 28px;
}

.search-key-box dt span {
    display: inline-block;
    padding: 0 10px;
}

.search-key-box dt span em {
    font-style: normal;
    padding-left: 20px;
}

.search-key-box dt span b {
    color: #3fa601;
}

/*
 * 单件  套装
 */
.search-box-title {
    position: absolute;
    top: 0;
    width: 100%;
    height: 30px;
    font: 12px/30px "微软雅黑";
    border-bottom: 1px solid #ededed;
}

.search-box-title span {
    position: relative;
    display: inline-block;
    padding: 0 15px;
    cursor: pointer;
    overflow: hidden;
}

.search-box-title span i {
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 2px;
    width: 100%;
    background: #3ea600;
    display: none;
}

.search-box-title span.active i {
    display: block;
}

.search-list-content {
    overflow: hidden;
    padding: 0 5px;
    overflow: hidden;
}

.search-list {
    margin-bottom: 2px;
}

.search-list-content .cur {
    display: block;
}

.search-list {
    height: 381px;
    overflow: hidden;
}

.search-list,
.search-list ul,
.pImg {
    overflow: hidden;
}

.search-list li {
    position: relative;
    display: inline;
    float: left;
    width: 220px;
    height: 336px;
    margin: 0 8px;
    padding-top: 41px;
    overflow: hidden;
    border: 2px solid #fff;
}

.search-list li.on {
    border-color: #43a400;
}

.pImg,
.pImg img {
    width: 220px;
    height: 220px;
}

.price {
    height: 34px;
    font: 20px/34px "微软雅黑";
    color: #C40000;
    overflow: hidden;
}

.price b {
    font-weight: normal;
    font-size: 16px;
}

.list-title {
    height: 38px;
    margin: 2px 0 12px;
    line-height: 19px;
    color: #000;
    overflow: hidden;
}

.list-title p {
    height: 19px;
    overflow: hidden;
}

.list-title span {
    color: #757575 !important;
}

.list-title span b {
    color: #c40000;
    font-weight: normal;
}

.rated {
    height: 29px;
    border-top: 1px solid #ededed;
    border-left: 1px solid #ededed;
}

.rated span {
    float: left;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    border-right: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    cursor: pointer;
}

.rated .evaluated {
    width: 75px;
}

.rated .collection {
    width: 51px;
}

.rated .addCart {
    width: 89px;
}

.rated span b {
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 2px;
    background: url(../images/search.jpg) no-repeat;
    vertical-align: middle;
    overflow: hidden;
}

.rated span em {
    color: #43a400;
    font-style: normal;
}

.rated .collection b {
    background-position: -82px -46px;
}

.rated .addCart b {
    background-position: -82px -32px;
}